.div_error{
    background-color: #39B5E9;
    height: 100%;
    padding-top: 50%;
    text-align: center;
    
    img{
        height: 15%;
        margin-bottom: 5%;
    }
    p{
        padding: 0 10%;
        font-size: 1.8rem;
        margin-bottom: 5%;
    }
    button{
        margin-top: 5%;
        font-size: 1em;
    }
}
.embarazada{
    color: #c1005b;
}