<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="primary">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row (click)="abrirUrl()" style="height: 100%;">
    <img class="img-flayer" src="{{objetoPropaganda.RutaImagenDetalle}}" style="height: 100%;" />
  </ion-row>
</ion-content>
