body {
    padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
    padding-top: env(safe-area-inset-top); /* iOS 11.2 */
}

.ion-card-home{
    background: transparent;
    height: 30.5%;
}
.thumbails{
    height: 130px;
    width: 70%;
    margin-left: 15%;
}
.abajo{
    width: 100%;
    /* margin-bottom: 30px; */
    margin-bottom: constant(safe-area-inset-bottom); /* iOS 11.0 */
    margin-bottom: env(safe-area-inset-bottom); /* iOS 11.2 */
}
@media screen and (max-height: 991px) {
    /* start of large tablet styles */
    .thumbails{
        height: 130px;
        width: 90%;
        margin-left: 5%;
    }
    .ion-card-home{
        background: transparent;
        height: 30.5%;
    }
}
@media screen and (max-height: 823px) {
    /* start of medium tablet styles */
    .thumbails{
        height: 130px;
        width: 90%;
        margin-left: 5%;
    }
    .ion-card-home{
        background: transparent;
        height: 29.5%;
    }
}
@media screen and (max-height: 736px) {
    /* start of medium tablet styles */
    .thumbails{
        height: 80px;
        width: 70%;
        margin-left: 15%;
    }
    .ion-card-home{
        background: transparent;
        height: 28.5%;
      }
}
@media screen and (max-height: 667px) {
    /* start of medium tablet styles */
    .thumbails{
        height: 50px;
        width: 50%;
        margin-left: 25%;
    }
    .ion-card-home{
        background: transparent;
        height: 28.5%;
    }
}            
    
@media screen and (max-height: 640px) {
/* start of medium tablet styles */
    .thumbails{
        /*height: 17%;*/
        display: none;
    }
    .ion-card-home{
        background: transparent;
        height: 28.5%;
      }
}
@media screen and (max-height: 568px) {
    /* start of medium tablet styles */
    .thumbails{
        /*height: 7%;*/
        display: none;
    }
    .ion-card-home{
        background: transparent;
        height: 27.5%;
    }
}    
    
@media screen and (max-height: 479px) {
/* start of phone styles */
    .thumbails{
        /*height: 9%;*/
        display: none;
    }
    .ion-card-home{
        background: transparent;
        height: 26.5%;
      }
}