.ion-page {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    contain: layout size style;
    overflow: hidden;
    z-index: 0;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
}

.md{
    page-mapa-test{
        .barra_transporte{
            //padding-top: 10px;
            padding: 0;
        }
    }       
}

.ios{
    page-mapa-test{
        .barra_transporte{
            //padding-top: -5px;
            padding: 0;
        }
    }       
}

ion-badge.ion-color.ion-color-primary.md.hydrated {
    float: right;
    padding: 8px;
}
    #floating-panel {
        position: absolute;
        top: 10px;
        right: 5px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        //font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
    }
    #map {
        height: 74%;
        max-height: 79%;
        /*z-index: -1;*/
    }
    .barra_transporte{
        z-index: 10;
        display: block;
        width: 100%;
        padding: 0;
        height: 8%;
        min-height: 60px;
        max-height: 61px;
        /*
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        */
    }
    .barra_inferior{
        z-index: 10;
        display: block;
        width: 100%;
        padding: 0;
        height: 19%;
        min-height: 110px;
        margin-bottom: 57px;
        max-height: 19%;
    }
    
    .gmnoprint, .gm-fullscreen-control{
        display: none;
    }

    .gm-style{
        button{
            display: none;
        }
    }
    .gm-style-mtc {
        display: none;
      }

    p.tiempo_destino span {
        font-size: 1.3em;
    }
    ion-segment.segmento_inferior{
        /*position: fixed;*/
        bottom: 0;
        ion-segment-button{
            height: 8.2rem !important;
            height: 50% !important;
            border-top-left-radius: 0px !important;
            border-bottom-left-radius: 0px !important;
            border-top-right-radius: 0px !important;
            border-bottom-right-radius: 0px !important;
            white-space: normal !important;
            .div_nombre{
                min-height: 42px;
                max-height: 42px;
                overflow: hidden;
                
                text-align: center;
                .nombre_centro{
                    display: inline-block;
                    vertical-align: middle;
                    font-size: 1em;
                    font-weight: bold;
                    margin: 0;
                    padding-top: 5px;
                }
            }
            p{
                margin: 9px 0;
            }
            .hr{
                margin: 0;
                border-style: solid;
                border-width: 0.5px;
            }
            .plus_sign{
                margin: -4px 0;
            }
            .tiempo_destino{
                vertical-align: middle;
                font-size: 1em;
                line-height: 1em;
                margin: 3px 0;
                ion-icon {
                    font-size: 1.5em;
                    line-height: 1.5em;
                    margin: 0;
                }
            }
        
        }
    }
    
    .div_mensaje{
        background-color: #39B5E9;
        height: 100%;
        padding-left: 20%;
        padding-right: 20%;
        img{
            padding-right: 5%;
        }
        p{
            font-size: 1.5rem;
        }
    }

    .abajo{
        margin-bottom: 125px;
    }

    .rojo{
        color: #F04A47;
    }
    .naranja{
        color: #F4A040;
    }
    .amarillo{
        color: #FFCA0D;
    }
    .verde{
        color: #82C240;
    }
    .azul{
        color: #0159A8;
    }
    .embarazada{
        color: #c1005b;
    }
    .adulto{
        color: #006dc1;
    }
    .home {
        color: #39B5E9;
    }
    .nino{
        color: #008a9b;
    }
    .ion-color-embarazada {
        --ion-color-base: #c1005b;
        color:white;
      }
      .ion-color-adulto {
        --ion-color-base: #006dc1;
        color:white;
      }
      .ion-color-home {
        --ion-color-base: #39B5E9;
        color:white;
      }
      .ion-color-nino {
        --ion-color-base: #008a9b;
        color:white;
      }
      .img {
        max-width: 100%;
        border: 0;
        height: 55px;
        float: left;
    }
    .label-propaganda{
        font-size: 1em;
        vertical-align: -webkit-baseline-middle;
        padding-left: 10px;
    }
    .fab-superior{
        top:70px;
    }
    
    .gm-style .gm-style-iw-d {
        box-sizing: border-box;
        overflow: auto;
        margin: 10px;
    }

    @media screen and (max-height: 991px) {
        /* start of large tablet styles */
        #map {
            height: 79%;
            max-height: 79%;
            /*z-index: -1;*/
        }
    }
    @media screen and (max-height: 823px) {
        /* start of medium tablet styles */
            #map {
                height: 77%;
                max-height: 77%;
                /*z-index: -1;*/
            }
        }
        @media screen and (max-height: 736px) {
            /* start of medium tablet styles */
                #map {
                    height: 75%;
                    max-height: 75%;
                    /*z-index: -1;*/
                }
            }
            @media screen and (max-height: 667px) {
                /* start of medium tablet styles */
                    #map {
                        height: 72%;
                        max-height: 72%;
                        /*z-index: -1;*/
                    }
                }            
        
    @media screen and (max-height: 640px) {
    /* start of medium tablet styles */
        #map {
            height: 70%;
            max-height: 70%;
            /*z-index: -1;*/
        }
    }
    @media screen and (max-height: 568px) {
        /* start of medium tablet styles */
            #map {
                height: 67%;
                max-height: 67%;
                /*z-index: -1;*/
            }
        }    
        
    @media screen and (max-height: 479px) {
    /* start of phone styles */
        #map {
            height: 64%;
            max-height: 64%;
            /*z-index: -1;*/
        }
    }
    


    
    
    